packages/terraform/localstack/state_machine.asl.json
{
  "Comment": "State Machine to traverse the Slash Command tree and execute the desired action",
  "StartAt": "Determine Command",
  "States": {
    "Determine Command": {
      "Comment": "The top level Command comes directly after the slash, e.g. /map or /token",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.command",
          "StringEquals": "map",
          "Next": "Map"
        }
      ],
      "Default": "Failure"
    },
    "Map": {
      "Comment": "The Subcommand comes after the top level Command, and may include parameters, e.g. /map create https://image.com/img.png 10 10",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subCommand",
          "StringEquals": "get",
          "Next": "GetMap"
        }
      ],
      "Default": "Failure"
    },
    "GetMap": {
      "Type": "Task",
      "Parameters": {
        "application_id.$": "$.application_id",
        "token.$": "$.token",
        "channel_id.$": "$.channel_id"
      },
      "Resource": "${getMapLambdaArn}",
      "Next": "SendResponse"
    },
    "SendResponse": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${sendResponseLambdaArn}",
      "End": true
    },
    "Failure": {
      "Type": "Fail",
      "Cause": "An invalid command was entered"
    }
  }
}
